.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.float-layout {
    padding: 5px 5px;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
  }
  
.card-container {
    overflow: hidden;
}
  
.card {
    color: black;
    min-height: 100%; /*replace this it in width: 100%*/
    width: 50%;
    float: right;
}
  
.card-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
  
.card-desc {
    padding: 10px;
    text-align: left;
    font-size: 18px;
}
  
  /*add this it*/
.card-image {
    display: flex;
}
  /*-------------*/
  
div.card-image img {
    width: 50%;
    height: auto;
}
  
  /* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
    div.card-image img {
      width: 100%;
      height: auto;
    }
    
    /*add this it*/
    .card-image {
       flex-direction: column;
    }
    /*----------------------*/
  
    .card {
      width: 100%;
      margin-top: -4px;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  
.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}

.button1 {width: 250px;}